.text-left {
      text-align: left;
      margin-left: 50px;
}

.about-section h1 {
    padding-bottom: 30px;
  font-size: 4rem;
  color: #333;
  margin-top: 5vw;
}

.about-section p {
  font-size: 2rem;
  line-height: 1.5;
}