.text-left {
      text-align: left;
      margin-left: 50px;
      padding-left: 100px;
      padding-right: 100px;
}

.about-section h1 {
    padding-bottom: 30px;
  font-size: 4rem;
  color: #333;
  margin-top: 6vw;
}

.about-section p {
  font-size: 1.5rem;
  line-height: 1.2;
}