.contact-section {
  text-align: center;
  margin-top: 10vw;
}

.contact-section a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

.contact-section a:hover {
  color: #5d18ff; 
}

h1 {
  font-family: "AvantGarde Md BT";
  font-weight: bolder;
  font-size: 3rem;
  color: #000000;
  margin-bottom: 20px;
}