body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      text-align: center;
}

h2 {
  font-family: 'Brush Script MT', cursive;
      margin: 20px 0;
      font-size: 4.2rem;
      color: #000000;
}

h3 {
  font-family: 'Poppins', sans-serif;
  margin: 10px 0;
  color: #000000;
  font-size: 2rem;
}


body {
  margin-top: 10vw;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

/* Hide header initially */
.hidden {
  opacity: 0;
  pointer-events: none;
}

/* Fade-in animation for text */
.welcome-text {
  text-align: center;
  margin-top: 30vh;
  opacity: 0;
  animation: fadeInText 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-header {
  animation: fadeInHeader 1.2s ease-in forwards;
}

@keyframes fadeInHeader {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}